  @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      background-color: #218DB8;
      font-family: 'Kanit', sans-serif;
  }

  .cabecalho {
      background-color: #13526B;
      display: flex;
      justify-content: center;
      padding: 15px;
      color: white;
  }

  .image img {
      width: 140px;
      margin-right: 20px;
  }

  .container {
      display: flex;
      justify-content: center;
  }

  .tabela {
      margin-top: 20px;
      width: 1000px;
      height: 500px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .cadastrar {
      width: 160px;
      margin-top: 30px;
      margin-left: 84px;
      margin-bottom: 5px;
  }

  .cadastrar button {
      font-family: 'Kanit', sans-serif;
      font-weight: 600;
      background-color: #ffffff;
      width: 160px;
      height: 40px;
      border: none;
  }

  .cadastrar button:hover {
      background-color: #13526B;
      color: white;
  }

  table {
      display: flex;
      justify-content: center;
      border: none;
  }

  th,
  tr {
      background-color: #ffffff;
      border-collapse: collapse;
      color: black;
      padding: 10px 110px 10px 10px;
  }

  .modal-container {
      position: fixed;
      display: none;
      background-color: rgb(255, 255, 255);
      width: 600px;
      height: 210px;
      top: 250px;
      left: 400px;
      box-shadow: rgba(0, 0, 0, 0.80) 0px 5px 15px;
  }

  .modal {
      display: flex;
      flex-wrap: wrap;
      width: 590px;
      height: 200px;
      margin: auto;
  }

  .margem {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40px;
      background-color: #13526B;
      color: white;
  }

  .modal form {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }

  .active {
      display: flex;
  }

  .modal-container input {
      width: 280px;
      height: 40px;
      margin: 6px;
  }

  .botoes {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .botoes button {
      font-family: 'Kanit', sans-serif;
      font-weight: 600;
      background-color: #ffffff;
      width: 160px;
      height: 40px;
      border: 1px solid #13526B;
      margin: 10px;
  }

  .botoes button:hover {
      background-color: #13526B;
      color: white;
  }